@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Air-bnb;
    src: url("../assets/fonts/Airbnb_Cereal-Book-9a1c9cca9bb3d65fefa2aa487617805e.woff2") format("opentype");
}

@font-face {
    font-family: Air-bnb-Medium;
    src: url("../assets/fonts/Airbnb_Cereal-Medium-50fc004b3082375f12ff0cfb67bf8e56.woff2") format("opentype");
}

@font-face {
    font-family: Air-bnb-Bold;
    src: url("../assets/fonts/Airbnb_Cereal-Bold-bdfb98485e7836ba31b456f65cded088.woff2") format("opentype");
}